input {
  font-family: 'Inter', sans-serif;
}
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.back-home1 {
  position: absolute;
  top: 0%;
  right: 5%;
}
.back-home2 {
  position: absolute;
  top: 0%;
  left: 5%;
}
.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.login-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  @include flex(column, center, center);
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
form.signup-form {
  opacity: 0;
  z-index: 1;
}

form.login-form {
  z-index: 2;
}
.title {
  margin-bottom: 2rem;
}
.input-field {
  position: relative;
  max-width: 30rem;
  width: 100%;
  height: 5.5rem;
  background-color: rgba(255, 255, 255, 0.11);
  margin: 1rem 0rem;
  border-radius: 5.5rem;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0.2rem;
  i {
    text-align: center;
    line-height: 5.5rem;
    font-size: 1.5rem;
    color: $text-secondary;
  }
  input {
    background: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: $text-color;
    line-height: 1;
  }
}
.input-field input::placeholder {
  font-weight: 500;
  color: $text-secondary;
}
.password-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}
i.mysize {
  font-size: 2rem;
  cursor: default;
}
.plans-btn {
  border: 2px solid $btn-color;
  font-weight: 600;
  padding: 1.8rem 3rem;
  border-radius: 4.8rem;
  margin-top: 2rem;
}
.plans-btn:hover {
  border: 2px solid $blue;
}
.btn {
  width: 15rem;
  height: 5rem;
  border-radius: 5rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  color: $text-color;
  // background-color: $orange;
  background-color: $btn-color;
  margin: 1rem 0rem;
  transition: 0.5s;
}
.btn:hover {
  // background-color: rgb(255, 136, 0);
  background-color: $blue;
}
.forgot a {
  font-size: 1.3rem;
  padding: 1rem 0rem;
  color: rgba(255, 255, 255, 0.6);
  // color: $text-secondary;
  text-decoration: underline;
}
.forgot a:hover {
  color: $text-color;
}
.or {
  margin: 2rem;
}
.social a {
  @include flex(row, space-around, center);
  max-width: 40rem;
  height: 5.5rem;
  border-radius: 5.5rem;
  padding: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  p {
    margin-left: 1rem;
    color: $text-color;
    // color: $text-secondary;
  }
  i {
    text-align: center;
    line-height: 5.5rem;
    font-size: 2rem;
    color: $text-secondary;
    // color: rgba(255, 255, 255, 0.11);
  }
}
.social a:hover {
  border: 2px solid $blue;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  i {
    color: $blue;
    // color: rgba(255, 255, 255, 0.2);
  }
}
// SIGN UP FORM
.signup-cap {
  color: rgba(255, 255, 255, 0.6);
  // color: $text-color;
  padding-bottom: 2rem;
}
.signup-agree,
.signup-agree a {
  color: rgba(255, 255, 255, 0.6);
  // color: $text-secondary;
  text-align: center;
  max-width: 25rem;
  font-size: 1.3rem;
}
.signup-agree a {
  text-decoration: underline;
}
.signup-agree a:hover {
  color: $text-color;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container:before {
  content: '';
  position: absolute;
  height: 200rem;
  width: 200rem;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  // background-image: linear-gradient(45deg, $orange 0%, #ffae00 100%);
  background-image: linear-gradient(-45deg, $blue 0%, #0094ac 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}
.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}
.panel {
  @include flex(column, space-around, flex-end);
  text-align: center;
  z-index: 6;
  h3 {
    font-weight: 600;
    line-height: 1;
  }
  p {
    padding: 1rem 0;
  }
}
.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}
.panel .panel-content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}
.btn-transparent {
  border: 2px solid #fff;
  font-weight: 600;
  padding: 1rem 4rem;
  border-radius: 4rem;
  text-transform: uppercase;
}
.btn-transparent:hover {
  background-color: rgba(255, 255, 255, 0.07);
}
.right-panel .image,
.right-panel .panel-content {
  transform: translateX(800px);
}
/* ANIMATION */

.container.signup-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.signup-mode .left-panel .image,
.container.signup-mode .left-panel .panel-content {
  transform: translateX(-800px);
}

.container.signup-mode .login-signup {
  left: 25%;
}

.container.signup-mode form.signup-form {
  opacity: 1;
  z-index: 2;
}

.container.signup-mode form.login-form {
  opacity: 0;
  z-index: 1;
}

.container.signup-mode .right-panel .image,
.container.signup-mode .right-panel .panel-content {
  transform: translateX(0%);
}

.container.signup-mode .left-panel {
  pointer-events: none;
}

.container.signup-mode .right-panel {
  pointer-events: all;
}
